<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nmmu.wrap302.prac3">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Pig" android:label="Two Dice Pig" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NumPlayers" android:label="Number of Players" />
        <activity android:name=".Results" android:label="Game Results"/>
        <activity android:name=".PickColor" android:label="Pick a Color"/>
        <activity android:name=".Play" android:label="Two Dice Pig"/>
        <activity android:name=".GameScores" android:label="Game Scores"/>
        <activity android:name=".Stats" android:label="Statistics"/>
    </application>
</manifest>
